* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #eed5d5;
    color: rgb(117, 70, 70);
    box-shadow: 2px 4px 5px rgb(117, 70, 70); 
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.brand-logo {
    width: 40px;
    height: 40px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    /* border-bottom: rgb(117, 70, 70) solid 2px; */
    font-weight: bold;
}